<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="stylesheet" href="../static/Join_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header>
        <h1>Meet Our Team</h1>
    </header>

    <section class="team">
        <div class="team-member">
            <img src="../static/santosh.jpg" alt="Santosh">
            <h2>Santosh Reddy</h2>
            <p class="role">Team Lead & Project Management</p>
            <p class="bio"></p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/santosh-reddy-2785292a5?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank" class="fab fa-linkedin"></a>
                <a href="https://www.instagram.com/santosh.pvtx?igsh=MTRtYmQ3OW9pYndyMw%3D%3D&utm_source=qr" target="_blank" class="fab fa-instagram"></a>
                <a href="https://github.com/Santosh-8309" target="_blank" class="fab fa-github"></a>
            </div>
        </div>
        <div class="team-member">
            <img src="../static/bharath.jpg" alt="Bharath">
            <h2>Bharatha Simha Reddy</h2>
            <p class="role">Lead Developer</p>
            <p class="bio">Jane leads the development team with expertise in frontend and backend technologies.</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com" target="_blank" class="fab fa-linkedin"></a>
                <a href="https://www.instagram.com/bharath__2340?igsh=MXgyeXdjYjl3ZjMxeA==" target="_blank" class="fab fa-instagram"></a>
                <a href="https://www.github.com" target="_blank" class="fab fa-github"></a>
            </div>
        </div>
        <div class="team-member">
            <img src="../static/bhanu.jpg" alt="Bhanu">
            <h2>Konda Bhanu Prakash</h2>
            <p class="role">Product Manager</p>
            <p class="bio">Bob oversees product development ensuring we deliver value to our customers.</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com" target="_blank" class="fab fa-linkedin"></a>
                <a href="https://www.instagram.com/dads_loving_son_bhanu123?igsh=MXZuNDdyN2FvdzhmeQ==" target="_blank" class="fab fa-instagram"></a>
                <a href="https://www.github.com" target="_blank" class="fab fa-github"></a>
            </div>
        </div>
        <div class="team-member">
            <img src="../static/ameer.jpg" alt="Ameer">
            <h2>Shaik Ameer</h2>
            <p class="role">UI/UX Designer</p>
            <p class="bio">Alice designs user-friendly interfaces with a focus on enhancing user experience.</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com" target="_blank" class="fab fa-linkedin"></a>
                <a href="https://www.instagram.com/mr.jr_07?igsh=bW8zemYzNjhnc2Qx" target="_blank" class="fab fa-instagram"></a>
                <a href="https://www.github.com" target="_blank" class="fab fa-github"></a>
            </div>
        </div>
    </section>
</body>

</html>
